@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-Medium.woff2') format('woff2'),
        url('MarkaziText-Medium.woff') format('woff'),
        url('MarkaziText-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-Regular.woff2') format('woff2'),
        url('MarkaziText-Regular.woff') format('woff'),
        url('MarkaziText-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-SemiBold.woff2') format('woff2'),
        url('MarkaziText-SemiBold.woff') format('woff'),
        url('MarkaziText-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-Bold.woff2') format('woff2'),
        url('MarkaziText-Bold.woff') format('woff'),
        url('MarkaziText-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Markazi Text';
    src: url('MarkaziText-Regular_1.woff2') format('woff2'),
        url('MarkaziText-Regular_1.woff') format('woff'),
        url('MarkaziText-Regular_1.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

